:root{
    --color1: #194350;
    --color2: #ff8882;
    --color3: #ffc2b4;
    --color4: #9dbeb9;
}



body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
   
}
h2{
    text-transform: uppercase;
    color: #194350;
    letter-spacing: .2em;
}


//////////HEADER////////////////

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


.nav-container{
    
    a{
        color:#9dbeb9;
    }
}   


header{
    background-color: #194350;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;


    .logo{
        color: #ff8882;
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: 10px;
    }

    .hamb-container{
        
        display: flex;
        position: relative;
        z-index: 2;
        flex-direction: column;
        cursor: pointer;
        display: none;
        
        span {
            color:  var(--color2);
            $width:25px;
            $height:3px;
            width:$width;
            height:$height;
            background:white;
            margin: 3px;
            border-radius: 25%;
        }
    }

    nav{
        float: right;
        
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            a{
                display: block;
                padding: 0 1em;
            }
            #resume{
                border: 1px solid var(--color3);
                border-radius: 1rem;
                background-color: var(--color3);
                color: #194350;
                padding: 7px;
                padding-inline: 15px;
                margin-inline: 2rem;
            }
            img{
                width: 45px;
                display: block;
            }
        }
    }
}

/////////////////ABOUT///////////////

#svg-image-about{
    display: none;
}
.about{
    background-color: #194350;
    color:#ffc2b4;
    display: grid;
    text-align: center;
    padding:4em;
    h1{
        font-weight: bold;
    }

    .blob1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 50vmax;
        
        animation: move 20s ease-in-out infinite;
        transform-origin: 50% 50%;
      }
      
      .blob2 {
        position: absolute;
        top: 0;
        left: 1;
        width: 50vmax;
        z-index: -1;
        animation: move1 20s ease-in-out infinite;
        transform-origin: 10% 90%;
      }
      
      @keyframes move {
        0%   { transform: scale(1)   translate(-30px, 10px); }
        38%  { transform: scale(0.8, 1) translate(30vw, 80vh) rotate(360deg); }
        40%  { transform: scale(0.8, 1) translate(30vw, 80vh) rotate(360deg); }
        78%  { transform: scale(1.3) translate(50vw, 0vh) rotate(20deg); }
        80%  { transform: scale(1.3) translate(50vw, 0vh) rotate(20deg); }
        100% { transform: scale(1)   translate(-30px, 10px); }
      }
      @keyframes move1{
        100%{ transform: scale(1)   translate(-30%, 10%); }
        80% { transform: scale(0.8, 1) translate(30%, 80%) rotate(360deg); }
        78% { transform: scale(0.8, 1) translate(30%, 80%) rotate(360deg); }
        40% { transform: scale(1.3) translate(50%, 0%) rotate(20deg); }
        38% { transform: scale(1.3) translate(50%, 0%) rotate(20deg); }
        100% { transform: scale(1)   translate(-30%, 10%); }
      }
}

///////////////FEATURED///////////////////

section{
    padding: 4em 2em;
    text-align: center;

    .featured-title{
        color: #ff8882;
        font-weight: bold;
        display: block;
        font-size: 1.3em;
    }
    .fetured-desc{
        padding: 1em;
        line-height: 1.8;
        font-weight: 500;
    }
}

.featured{
    position: relative;
    img{
        max-width: 500px;
        border-radius: 1.2rem;
    }
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffc2b4;
    top: 0;
    left: 0;
    z-index: -1;
}


////////////////SKILSS////////////////

.skills{
    padding: 2em;
    padding-bottom: 4em;
    .title-skills{
        margin-bottom: 100px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(3, 200fr);
        grid-template-rows: repeat(4, 25%);
        grid-gap: 15px;
    
    
        .column {
            float:left;
            width: 100%;
        }
        .skills-containers:after {
            content: "";
            display: table;
            clear: both;
          }
    }
}
.title-s{
    font-weight: bold;
    letter-spacing: .1em;
}


/////////////Work/////////////////////

.portfolio{
    background-color: var(--color1);

    img{
        max-width: 450px;
        border-radius: 1rem;
    }
    .portfolio-container{
        background-color: white;
        border-radius: 1rem;
        margin-bottom: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

////////////////CONTACT/////////////////////
.contact{
    background-color: #194350;
    .subtitle-c{
        color: #ff8882;
        border-bottom: 1px solid;
        margin: 60px;
    }
    form{
    display: flex;
    flex-direction: column;
    
    input,.msg{
        
        border-radius: .5rem;
        margin: 1rem;
        padding: 5px;
        color: #194350;
    }
    label{
        color: #ffc2b4;
        font-weight: bold;
        display: block;
        font-size: 1.3em;
        padding-top: .5em;
    }
    .button-send{
        background-color: #ffc2b4;
        color: #194350;
        font-weight: bold;
        margin-inline: 15vh;
        cursor: pointer;
        outline: none;
    }
    .button-send:hover{
        background-color: #ff8882;
        color: #194350;
    }

}
}







////////////////MEDIA//////////////

@media screen and (max-width: 1070px){
    
    header{
        .hamb-container{
            display:flex; 
        }
}
    nav{
        display: none;
        position:fixed;
        background-color:#ff8882;
        height: 100vh;
        width: 100%;
        flex-flow: column wrap;
       
    }

    .nav-ul.show{     
        display: flex;

    }

}